.comment-bg {
  background-color: #f0f2f5;
}
.loading {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.postDeleteIcon {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s all ease-in-out;
}
.postDeleteIcon:hover {
  opacity: 1;
}
