.profile {
  display: flex;
}

.profileRight {
  flex: 9;
  overflow: hidden;
  /* z-index: -1; */
}

.profileCover {
  height: 200px;
  transform: translate(0%, 0%);
}

/* .profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
} */

.profileUserImg {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  border: 3px solid white;
  z-index: -1;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
  flex-direction: column;
}
