.user-chat-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 92%;
  max-width: 250px;
}
.user-chat-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.user-chat-card img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.user-chat-card h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.user-chat-card .container {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-chat-card .btn {
  display: inline-block;
  font-weight: 500;
  border: 0;
  margin: 0;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: 0.5s;
  cursor: pointer;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 1rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.user-chat-card .btn-chat {
  color: #fff;
  background-color: #0080ff;
  /* margin-right: 7px; */
}

.user-chat-card .btn-chat:hover {
  background-color: #076dd2;
}
